@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
  font-family: "montserrat", sans-serif;
}

.container {
  margin: 1.4rem;
  /*max-width: 600px;*/
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
/*images*/
.mobile {
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.desktop {
  display: none;
}

/*product-details */

.product-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  padding: 1.5rem;
  margin-top: -1.2rem;
}

.category {
  font-size: 1rem;
  text-transform: uppercase;
  color: hsl(212, 21%, 14%);

  letter-spacing: 0.4rem;
}
h1,
.current-price {
  font-family: "Fraunces", serif;
}

h1 {
  font-size: 2.5rem;
  color: hsl(212, 21%, 14%);
}

p {
  color: hsl(228, 12%, 48%);
  font-size: 1.15rem;
  font-weight: 300;
}
/* price */
.price {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-weight: bold;
}

.original-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 42%, 18%);
}

@media (min-width: 640px) {
  .container {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 6rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    object-fit: cover;
    flex-shrink: 0;
   /* flex-grow: 1;*/
  }

  article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem;
    align-items: stretch;
  }

  .product-details {
    flex-direction: column;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 1.5rem;
    width: 75%;
    margin-top: 0;
    flex-grow: 2;
    flex-shrink: 1;
  }

  .category {
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }
}
